services:
  api:
    build: .
    container_name: bitsXLaMarato_api_dev
    ports:
      - "5000:5000"
    
    volumes:
      - .:/app
    
    env_file:
      - .env
    
    environment:
      - FLASK_APP=app.py
      - FLASK_DEBUG=1
      - DOCKER_BUILDKIT=1    
    # Servidor de desarrollo sin debugger
    command: python -m flask run --host=0.0.0.0 --port=5000 --reload